html{
    background-color: #000;
    font-size: 62.5%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    margin: 0;
    text-align: center;
    color: #fff;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

img{
    width: 100%;
}

button{
    padding: 1.5rem 6rem;
    border: none;
    line-height: 1.5;
    position: relative;
    margin: 10px auto 0;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 100vh;
}

.white button{
    padding: 0.5rem 0;
    width: 70%;
    background-color: #272727;
    color: #fff;
    border-radius: 20px;
}


.top{
    position: relative;
}

.toptext{
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 8vw;
    font-weight: bold;
    height: 0.56vw;
}

.toptext.wrap{
    top: 0;
    bottom: 0;
    flex-flow: column;
}

.toptext p{
    text-align: right;
    margin: 0;
}

.small{
    font-size: 1.5vw;
    font-weight: 100;
}

._FC427F{
    color: #FC427F;
}

._258BFA{
    color: #258BFA;
}

._FBC64B{
    color: #FBC64B;
}

.panel{
    margin: 20px 0;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    aspect-ratio: 1/1;
    position: relative;
    margin: 10px;
    width: min(30vw,324px);
}

.white{
    display: table;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
}

.boxcontent{
    display: table-cell;
    vertical-align: middle;
}

.white img{
    width: 95%;
    border-radius: 20px;
}

.invete{
    position: relative;
}

.yellow{
    margin: 0 auto;
    background-color: #FBC64B;
    width: 80%;
    border-radius: 20px;
    padding: 20px 0;
}

.label{
    background-color: #fff;
    padding: 5px 10px;
    color: #000;
    border: #000 1px solid;
    position: absolute;
    transform: rotate(-15deg);
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    .over{
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }

    .slide{        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding:  0 20px;    
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: left;
    }

    .slide .box{
        scroll-snap-align: center;
        width: 80%;
    }

    .spcolumn{
        flex-flow: column;
    }

    .box{
        width: 90%;
        flex: 0 0 auto;
    }

    .spcolumn .box{
        margin: 10px 0;
    }
}
